@font-face {
    font-family: "dynamicFont";
    src: url('https://cdn.w3page.ir/fonts/Gandom/Gandom.woff2') format('woff2'),
         url('https://cdn.w3page.ir/fonts/Gandom/Gandom.woff') format('woff'),
         url('https://cdn.w3page.ir/fonts/Gandom/Gandom.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
