@font-face {
    font-family: "dynamicFont";
    src: url("https://cdn.w3page.ir/fonts/Antic/Antic-Regular.ttf") format("ttf");
    src: url("https://cdn.w3page.ir/fonts/Antic/Antic-Regular.woff2") format("woff2");
    font-weight: 400;
    font-weight: normal;
    font-style: normal;
}