@font-face {
    font-family: "dynamicFont";
    src: url("https://cdn.w3page.ir/fonts/Roboto/Roboto-Thin.ttf") format("ttf");
    src: url("https://cdn.w3page.ir/fonts/Roboto/Roboto-Thin.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "dynamicFont";
    src: url("https://cdn.w3page.ir/fonts/Roboto/Roboto-Bold.ttf") format("ttf");
    src: url("https://cdn.w3page.ir/fonts/Roboto/Roboto-Bold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}