/* Generated for Firefox v132.0 on Windows */
@font-face {
    font-family: "dynamicFont";
    src: url("https://cdn.w3page.ir/fonts/Yekan/normal.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "dynamicFont";
    src: url("https://cdn.w3page.ir/fonts/Yekan/bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
/* CACHED: 2024-11-23T23:30:05+00:00 */